<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing images</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Editing Images</h1>
            <h2>Gimp</h2>
        </header>
        <h2>Image 1</h2>
        <img src="images/candles.jpg" alt="candles">
        <img src="images/gimp-candles.jpg" alt="edited candles">
            <t>I cropped the image to just the candles and scaled it down.</t>
        <h2>Image 2</h2>
        <img src="images/pumpking-fog.jpg" alt="pumpkin">
        <img src="images/gimp-pumpking-fog.jpg" alt="edited pumpkin">
            <t>I horizontally flipped the image and scaled it down.</t>
        <h2>Image 3</h2>
        <img src="images/skull-mirror.jpg" alt="skull">
        <img src="images/gimp-skull-mirror.jpg" alt="edited skull">
            <t>I cropped the image to focus omore of the skull and scaled it down.</t>
        <h2>Image 4</h2>
        <img src="images/spiderweb.jpg" alt="spiderweb">
        <img src="images/gimp-spiderweb.jpg" alt="edited spidwerweb">
            <t>I horizontally flipped the imaged and scaled it down.</t>
        <h2>Image 5</h2>
        <img src="images/witch-ritual.jpg" alt="witch">
        <img src="images/gimp-witch-ritual.jpg" alt="edited witch">
            <t>I cropped the image to just the witch and scaled it down.</t>
    </div>

</body>

</html>